







      <!-- Main Content -->
      <div class="main-content">
  
         <!-- Home Section -->
         <section class="home section active" id="home">
            <div class="container">
               <div class="intro">
                  <img src="{{ myinfo.photo.url }}" alt="profile" class="shadow-dark">
                  <h1>{{ myinfo.name }}</h1>
                  <p>I'm a <span class="typing"></span></p>
                  <div class="social-links">
                     <a href="{{ myinfo.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                     <a href="{{ myinfo.fb }}" target="_blank"><i class="fa fa-facebook"></i></a>
                     <a href="{{ myinfo.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
                     <a href="{{ myinfo.linkdin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                  </div>
               </div>
            </div>
         </section>
         <!-- Home Section End -->
  
  
      </div>
      <!-- Main Content End-->

{% endblock %}